<head>
    <title>Registro</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

</head>

<body>
    <header id="header" class="">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand m-0 p-0" href="">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="77.731"
                        height="69.5" viewBox="0 0 77.731 69.5">
                        <defs>
                            <pattern id="pattern" preserveAspectRatio="none" width="100%" height="100%"
                                viewBox="0 0 379 336">
                                <image width="379" height="336"
                                    xlink:href="data:image/png;base64" />
                            </pattern>
                        </defs>
                        <rect id="_124-1243462_icono-hoja-icono-hoja" data-name="124-1243462_icono-hoja-icono-hoja"
                            width="50.731" height="50.5" fill="url(#pattern)" />
                    </svg>

                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto me-3 mb-2 mb-lg-0">
                        <li class="nav-item me-4">
                            <a class="nav-link" style="color: white;" href="./login.html">Iniciar sesion</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div id="posicion">


        <img style=" width: 80px; height: 90px; " src="./assets/images/user1.png" alt="">


        <h3 class="mb-4">REGISTRATE</h3>
        <form>
            <div id="ordenar" class="mb-3">
                <label for="exampleInputEmail1" class="form-label">NOMBRE:</label>
                <input type="text" class="" id="input" aria-describedby="emailHelp">
            </div>
            <div id="ordenar" class="mb-3">
                <label for="exampleInputEmail1" class="form-label">E-MAIL:</label>
                <input type="email" class="" id="input" aria-describedby="emailHelp">
            </div>

            <div id="ordenar" class="mb-3">
                <label for="exampleInputEmail1" class="form-label">REGION:</label>
                <input type="text" class="" id="input" aria-describedby="emailHelp">
            </div>
            <div id="ordenar" class="mb-3">
                <label for="exampleInputPassword1" class="form-label">CONTRASEÑA:</label>
                <input type="password" class="" id="input">
            </div>
            <a id="boton" href="./login.html" class="btn mt-3">REGISTRAR<i
                    style="border-radius: 50%;background-color: green; margin-left: 10px;"
                    class="bi bi-check"></i></a>
        </form>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>
