<head>
    <title>AGRISOFT</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script defer src="./js/scrooll.js"></script>
</head>

<body>
    <!-- Banner Image  -->
    <div class="banner-image w-100 vh-100 d-flex justify-content-center align-items-center">
        <div class="content text-center">
            <h1 class="" style="color:#27DB20; font-weight: bold;">NUESTRA TIERRA
                NUESTRO FUTURO </h1>
        </div>
        <div id="overlay" class="overlay d-flex align-items-center">
            <div class="container pt-5">
                
            </div>
        </div>
    </div>

    <!--* Inicia Cards Plagas  -->

    <section id="Plagas" class="mt-5 mb-5">
        <div class="productos container">
            <div class="row mb-5">
                <div class="col text-center text-uppercase">
                    <small>Conoce mas sobre los tipo de plagas que existen</small>
                    <h2>PLAGAS</h2>
                </div>
            </div>

            <div class="row ">
                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/babano.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Plaga bananera Sigatoka</h5>
                            <p class="card-text">La Sigatoka negra es otra de las enfermedades que ataca a las plantaciones de banano y así mismo es un hongo, Mycosphaerella Fijiensis, el cual se transmite por el aire e impacta en rendimiento de los cultivos, produciendo daño en las hojas y afectando la nutrición de las plantas... </p>
                            <a href="https://www.fao.org/3/au910s/au910s.pdf" class="btn btn-danger w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/cochinillo de banano.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Cochinillo de banano</h5>
                            <p class="card-text">Las cochinillas son insectos de la familia Pseudococcidae y pueden afectar todas las etapas de desarrollo del cultivo, así como causar pérdidas de cosecha, al provocar rechazo en la fruta para exportación.Los daños en el cultivo se manifiestan en el debilitamiento de la planta y también se puede observar decoloraciones...</p>
                            <a href="https://www.metroecuador.com.ec/ec/noticias/2021/08/03/cochinilla-plaga-arboles-de-guayaquil-samborondon.html" class="btn btn-danger w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/comedor.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Gusano blanco de tubérculo
                            </h5>
                            <p class="card-text">El adulto consume con mayor agrado las hojas (foliolos) del tercio medio e inferior de la planta por su mayor contenido de azúcares y menor cantidad de alcaloides (sabor amargo). Este insecto puede ocasionar pérdida total de la cosecha cuando no existe un adecuado control...</p>
                            <a href="https://www.adama.com/ecuador/es/actualidad-adama/informe-tecnico-sobre-gusano-blanco-en-papa" class="btn btn-danger w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/gusano blanco.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Gusano del alambre</h5>
                            <p class="card-text">El gusano del alambre es la larva de los insectos de la familia de los elatéridos (Agriotes y Athous, son los que más daños provocan en agricultura de la 7.000 especies conocidas) y se trata de una de las plagas más frecuentes...</p>
                            <a href="https://www.gob.mx/cms/uploads/attachment/file/600898/Gusanos_de_alambre.pdf" class="btn btn-danger w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/gusano-del-alambre.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Minador de las hojas</h5>
                            <p class="card-text"> Se ha observado su ataque en períodos de sequía. El adulto de esta plaga deposita sus huevos en las hojas y luego al pasar a larvas se alimentan de la savia de las hojas, ocasionando manchas marrones por la muerte de las células...</p>
                            <a href="https://meet.google.com/jnv-itps-bwh#:~:text=https%3A//www.ecured.cu/Minador_de_las_hojas" class="btn btn-danger w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4 mb-4">
                    <div class="card h-100" style="width: 18rem;">
                        <img src="./assets/images/Mirador.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <span class="badge rounded-pill bg-danger mb-3">#Alto Riesgo</span>
                            <span class="badge rounded-pill bg-warning text-dark">#Precaución</span>
                            <h5 class="card-title">Insectos comedores de hojas</h5>
                            <p class="card-text">Durante el desarrollo del cultivo se han presentado diversos insectos comedores de hojas, pero su infestación ha sido estacional y no han significado mayor peligro para la planta...</p>
                            <a href="https://www.ppd-ecuador.org/wp-content/uploads/2019/FondoBecas/Amazonia/INFORME-Sacha-Inchi-Cindy-Orozco.pdf" class="btn btn-danger mb-2 w-100" target="_blank">MAS INFO</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <hr>
    <!--* Termina Cards Plagas  -->
    <section id="Reporte Nacionales" class="mt-5">
        <div class="col text-center text-uppercase ">
            <h1>Reportes Nacionales</h1>
          </div>
        <div class="container">
            <div class="row">
                <div class="col-12 ">
                    <div class="card mb-4 mt-5 " style="max-width: 900px;">
                        <div class="row g-0">
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h2>Tungurahua</h2>
                                    <hr>
                                    <div class="card">
                                        <ul class="list-group list-group-flush">
                                          <li class="list-group-item"><h5>Virus:</h5><p class="card-title" style="text-align: right; margin-top:-30px;">Zea Mays</p></li>
                                          <li class="list-group-item"><h5>Ubicacion:</h5> <p class="card-title" style="text-align: right; margin-top:-30px;">Ambato</p> </li>
                                          <li class="list-group-item"><h5>Radio Afectado:</h5> <p class="card-title" style="text-align: right; margin-top:-30px;">300 Hectareas</p></li>
                                          <li class="list-group-item"><h5>Region Afectado:</h5> <p class="card-title" style="text-align: right; margin-top:-30px;">Region Sierra</p></li>
                                          <li class="list-group-item"><h5>Plantaciones Afectadas:</h5><p class="card-title" style="text-align: right; margin-top:-30px;">maiz</p></li>
                                        </ul>
                                      </div>
                                  <p class="card-text text-uppercase  mt-5" style="color:red;"> SE REGISTRARON MAS CASOS EN LAS PROVINCIAS DE  PICHINCHA, BOLIVAR</p>
                                </div>
                              </div>
                            <div class="col-md-4">
                            <img src="./assets/images/Tungurahua_mapa.gif" class="card-img-top" alt="..." style="max-width: 100%; max-height:100%; margin-top:30%;">
                          </div>
                          <div class="d-grid gap-2 col-3 mx-auto mt-5">
                            <a href="https://repositorio.iniap.gob.ec/handle/41000/657"  id="boton-alterno" class="btn btn-primary mb-5" target="_blank">SABER MAS </a>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <br>
    </section>