<footer id="footer">
    <div class="container-fluid text-center "
        style="background-color: #0A8A0A;  list-style: none; clip-path: polygon(0 10%, 100% 0, 100% 100%, 0% 100%); padding-bottom: 20px;">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 50px;">


                <li><a style="color: white; text-decoration: none;" href="#Plagas">Informacion </a></li>
                <li><a style="color: white; text-decoration: none;" href="">Nuestros productos</a></li>
                <li><a style="color: white; text-decoration: none;" href="">Nuestra historia</a></li>
                <li><a style="color: white; text-decoration: none;" href="">Aprende con nosotros</a></li>

            </div>
            <br />
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 50px;">


                <li><a style="color: white; text-decoration: none;" href="#footer">Contactos</a></li>
                <li><a style="color: white; text-decoration: none;" href="">Nuestros proveedores</a></li>
                <li><a style="color: white; text-decoration: none;" href="">Nuestra Oficinas</a></li>
                <li><a style="color: white; text-decoration: none;" href="">Contacto directo</a></li>
                <li><a style="color: white; text-decoration: none;">5766786876</a></li>



            </div>
            <div class="col-lg-4 col-md-4 col-sm-12" style="margin-top: 50px;">
                <li><a style="color: white; text-decoration: none;" href="#footer" target="_blank">Redes</a></li>
                <li><a style="color: white; text-decoration: none;" href="https://www.instagram.com/agricultura.organica/" target="_blank">Imstagram</a></li>
                <li><a style="color: white; text-decoration: none;" href="https://es-la.facebook.com/AgriculturaEcuador/photos" target="_blank">Facebook</a></li>
                <li><a style="color: white; text-decoration: none;" href="https://www.youtube.com/c/juangangelrTvAgro" target="_blank">Youtube</a></li>
            </div>

        </div>

    </div>
</footer>